.leftElement {
    border-radius: 5px 0px 0px 5px;
    @mixin light {
        color: var(--mantine-color-dark-3);
    }
    @mixin dark {
        color: var(--mantine-color-dark-1);
    }
    border-color: var(--mantine-color-default-border);
}

.rightElement {
    border-radius: 0px 5px 5px 0px;
}
